@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  background-color: white;
}
h1 {
  color: #FFC0CB;
  font-family: 'Anton', sans-serif;
  font-size: large;
  margin: 0 auto;
}
p {
  color: black;
}

#color_image {
	margin: 0 auto;
}

#top_page {
	color: #FFC0CB;
}