@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: white;
}
h1 {
  color: #B22222;
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  margin: 0 auto;
}
p {
  color: black;
}

#color_image {
	margin: 0 auto;
}

#top_page {
	color: #B22222;
}